.wrapper {
    color: #555;
}

.header {
    border: solid black;
    border-width: 1px 1px 0 1px;
    padding: 1em;
    background-color: #eee;
}

.side-bar {
    border: solid black;
    border-width: 1px 0 0 1px;
    padding: 1em;
    background-color: #eee;
}

.nav-link {
    color: #555;
    border: solid black;
    border-width: 1px 1px 0 1px;
}

.nav-link:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.nav-link:last-child {
    border: solid black;
    border-width: 1px 1px 1px 1px;
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.nav-link:hover {
    background-color: #aaa;
    color: #fff;
}

.nav-link.active {
    background-color: #aaa;
    color: #fff;
}

.photo {
    margin: 1em 0;
}

.photo-img {
    width: 10em;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto !important;
    border: 1px solid black;
}

.social-links {
    margin: 1em 0;
    font-size: 2em;
}

.social-links a {
    color: #555;
    margin: 0 0.25em;
}

.content {
    border: solid black;
    border-width: 1px 1px 0 1px;
    padding: 1em;
    height: calc(100vh - 9em);
    overflow-y: scroll;
}

.resume {
    width: 100%;
    height: calc(100vh - 11em);
}

.card {
    margin: 1em 0;
}

.card a {
    color: #555;
}

.card-body .fa-github-square {
    font-size: larger;
}

.card-body i {
    margin-right: 0.5em;
}

.card-body .fa-external-link-alt {
    margin-left: 1em;
}

.footer {
    border: 1px solid black;
    padding: 1em;
    color: #fff;
    background-color: #aaa;
    text-align: right; 
    display:block;
}